#nav{
    border: 1px solid red;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: black;
    color: white;
   
   
}
#logo{
    margin-left: 15px;
    width: 20%;
    
    
}
#product{
    width: 40%;
    display: flex;
    justify-content:space-around;
    margin-left: 200px;
    
}

#sign{
    width: 30%;
    display: flex;
    margin-left: 10%;
    justify-content: space-evenly;
    
}
a{
    color: white;
}
#demo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    width: 50%;
    margin: auto;
    margin-top: 20px;


}